@mixin hov($hocolor, $fw, $fsize) {
    color: $hocolor;
    font-weight: $fw;
    font-size: $fsize;
}

@mixin fontmix {
    font-family :$titlefont;
	font-size: 1.5em;
    font-weight: normal;
    color: $acolor;
}

@mixin tablet {
  @media (min-width: #{$tabl}) {
    @content;
  }
}

@mixin desk {
  @media (min-width: #{$deskt}) {
    @content;
  }
}