$backcolor: #f1f3f4;
$licolor: #C9C9C9;
$titlefont: 'VT323', monospace; 
$parafont: 'Play', sans-serif;
$visit: steelblue;
$hoved: grey;
$acolor: black;
$wideback: white;
$tabl: 768px;
$deskt: 1024px;

